body {
    background-color: rgb(179, 234, 241);
}
  
.shadowbox {
    width: 50em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);

}

.button{
    background-color: #33618b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border:1px solid black;
}

.button2{
    position: absolute;
    left: 730px;
    top: 17px;
}

.text{
    position: absolute;
    left: 375px;
    top: 30px;
}

.button3{
    position: absolute;
    left: 900px;
    top: 15px; 
}

.car{
    background-color: grey;
    border:2px solid black;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    
}
.cartext{
    position: center;
}